@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  color: #2c2c2c;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.25;
}

input,
textarea,
select,
button {
  font-size: 1.6rem;
  color: #2c2c2c;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 1.25;
}

.main {
  position: relative;
  z-index: 0;
}

.footer {
  position: relative;
  z-index: 0;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
  border: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

.header {
  position: relative;
  z-index: 2;
  box-shadow: 0px 1.6666666269px 8.3333330154px 0px rgba(0, 0, 0, 0.15);
}
.header-container {
  height: 108px;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0px auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.header-logo {
  height: inherit;
  display: flex;
  align-items: center;
}
.header-logo img {
  height: 73px;
}
.header-controller {
  display: flex;
  column-gap: 50px;
  height: 50%;
}
.header-menu {
  display: flex;
  column-gap: 50px;
}
.header-menu-link {
  display: block;
  height: 100%;
  font-weight: 600;
  position: relative;
}
.header-menu-link::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: #46b20f;
  position: absolute;
  transform: translateY(50%);
  left: 0;
  bottom: 0;
  transition: 0.3s linear;
}
.header-menu-link:hover {
  color: #46b20f;
}
.header-menu-link:hover::after {
  width: 100%;
}
.header-menu-link--active {
  color: #46b20f;
}
.header-menu-link--active::after {
  width: 100%;
}
.header-icons {
  display: flex;
  column-gap: 50px;
}
.header-cart {
  position: relative;
}
.header-cart::after {
  content: "3";
  position: absolute;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e05000;
  top: 0;
  right: 0;
  border-radius: 50%;
  color: #fff;
  font-size: 1rem;
  transform: translate(25%, -25%);
}
.header-res {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header-res-close {
  font-size: 3rem;
  font-weight: 600;
}
.header-open-menu {
  display: none;
  font-size: 3rem;
}

@media screen and (max-width: 900px) {
  .header {
    position: relative;
  }
  .header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .header-layout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    z-index: -1;
    transform: translateX(-100%);
    transition: 0.3s linear;
  }
  .header-controller {
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 40px;
    flex-direction: column;
    width: 60vw;
    height: 100vh;
    row-gap: 30px;
    background-color: white;
    transform: translateX(-100%);
    transition: 0.3s linear;
  }
  .header-menu {
    order: 2;
    flex-direction: column;
    row-gap: 30px;
  }
  .header-menu-link {
    width: fit-content;
  }
  .header-icons {
    order: 1;
  }
  .header-res {
    display: flex;
  }
  .header-open-menu {
    display: block;
  }
  .menu-open {
    transform: translateX(0);
  }
  .menu-close {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 500px) {
  .header {
    position: relative;
  }
  .header-controller {
    width: 100vw;
    row-gap: 40px;
  }
  .header-menu {
    row-gap: 40px;
  }
  .header-menu-link {
    font-size: 2.2rem;
  }
}
.footer {
  padding: 66px 0px 33px 0px;
  background-color: #f2ffec;
}
.footer-container {
  max-width: 1043px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.footer-col {
  row-gap: 7px;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  row-gap: 26px;
}
.footer-logo-img {
  max-width: 123px;
}
.footer-support-item, .footer-contact-item {
  display: flex;
  flex-wrap: wrap;
  gap: 0 10px;
}
.footer-active, .footer-heading {
  font-size: 1.7rem;
  color: #46b20f;
  font-weight: 600;
  margin-bottom: 6px;
}

@media screen and (max-width: 1000px) {
  .footer-container {
    grid-template-columns: 2fr 1fr;
  }
}
.section-hero {
  margin-bottom: 100px;
  position: relative;
  display: flex;
  overflow: hidden;
}
.section-hero-container {
  max-width: 1230px;
  margin: 0 auto;
  min-height: 708px;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}
.section-hero-heading {
  font-size: 37px;
  line-height: 1.2972972973;
  margin-bottom: 15px;
  font-weight: 800;
}
.section-hero-sub-heading {
  font-size: 43px;
  line-height: 1;
  margin-bottom: 27px;
  font-weight: 800;
}
.section-hero-desc {
  line-height: 1.3125;
}
.section-hero-layout {
  width: 48.5vw;
  height: inherit;
  background-color: #dcffca;
  border-radius: 17px 0 0 17px;
  position: relative;
  z-index: -1;
}
.section-hero-layout .hero-img {
  position: absolute;
  top: 65px;
  left: 0;
  transform: translateX(-19.111969112%);
  width: 73.4193548387%;
}
.section-hero-layout .decor {
  font-size: 10.5vw;
  font-weight: 800;
  line-height: 1;
  color: #216000;
  opacity: 0.15;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  left: 100%;
  top: 55px;
}

@media screen and (max-width: 1150px) {
  .section-hero-container {
    min-height: 580px;
  }
  .section-hero-heading {
    font-size: 30px;
  }
  .section-hero-sub-heading {
    font-size: 36px;
  }
}
@media screen and (max-width: 1005px) {
  .section-hero-container {
    min-height: 100vh;
  }
  .section-hero-heading {
    font-size: 30px;
  }
  .section-hero-sub-heading {
    font-size: 36px;
  }
  .section-hero-layout {
    width: 100vw;
    height: 100%;
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .section-hero-layout .hero-img {
    position: absolute;
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    opacity: 0.1;
  }
  .section-hero-layout .decor {
    display: none;
  }
}
@media screen and (max-width: 1150px) {
  .section-hero-container {
    min-height: 580px;
  }
  .section-hero-heading {
    font-size: 30px;
  }
  .section-hero-sub-heading {
    font-size: 36px;
  }
}
@media screen and (max-width: 500px) {
  .section-hero {
    margin-bottom: 50px;
  }
}
.section-quality {
  margin-bottom: 215px;
}
.section-quality-container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
}
.section-quality-header {
  text-align: center;
  margin-bottom: 100px;
}
.section-quality-heading {
  margin-bottom: 24px;
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.3125;
}
.section-quality-desc {
  line-height: 1.25;
}
.section-quality-list {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  width: fit-content;
  position: relative;
  margin: 0 auto;
}
.section-quality-list::before {
  content: "";
  width: 235px;
  height: 235px;
  border-radius: 50%;
  position: absolute;
  background-color: #dcffca;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}
.section-quality-list::after {
  content: "";
  width: 235px;
  height: 235px;
  border-radius: 50%;
  position: absolute;
  background-color: #ffd5bd;
  bottom: 0;
  right: 0;
  transform: translate(50%, 50%);
}
.section-quality-item {
  min-width: 294px;
  min-height: 337px;
  flex-shrink: 0;
  padding: 33px 0px 0px 33px;
  background-color: #fff;
  box-shadow: -5.8333330154px 8.3333330154px 72.5px 0px rgba(54, 54, 54, 0.12);
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  position: relative;
  z-index: 1;
}
.section-quality-item .item-icon {
  width: 83px;
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff0e7;
  border-radius: 10px;
}
.section-quality-item .item-icon img {
  width: 45px;
  height: 45px;
}
.section-quality-item:nth-child(2) .item-icon {
  background-color: #f2ffec;
}
.section-quality-item .item-heading {
  font-size: 4.3rem;
  font-weight: 800;
  line-height: normal;
}
.section-quality-item .item-desc {
  font-size: 2rem;
  line-height: 1.55;
}
.section-quality-item--bigger {
  width: 343px;
  height: 393px;
  padding: 61px 0px 0px 33px;
}

@media screen and (max-width: 1200px) {
  .section-quality-list::before {
    display: none;
  }
  .section-quality-list::after {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .section-quality-list {
    flex-wrap: wrap;
    row-gap: 22px;
  }
  .section-quality-item:nth-child(1) {
    order: 1;
  }
  .section-quality-item:nth-child(3) {
    order: 2;
  }
  .section-quality-item:nth-child(2) {
    order: 3;
  }
}
@media screen and (max-width: 643px) {
  .section-quality {
    margin-bottom: 70px;
  }
  .section-quality-heading br, .section-quality-desc br {
    display: none;
  }
}
@media screen and (max-width: 640px) {
  .section-quality-header {
    margin-bottom: 50px;
  }
  .section-quality-list {
    flex-wrap: wrap;
    row-gap: 22px;
  }
  .section-quality-item {
    min-width: 264px;
    min-height: 307px;
  }
  .section-quality-item--bigger {
    width: 313px;
    height: 363px;
    padding: 61px 0px 0px 33px;
  }
}
@media screen and (max-width: 580px) {
  .section-quality-heading {
    font-size: 2.8rem;
  }
  .section-quality-desc {
    font-size: 1.4rem;
  }
  .section-quality-item:nth-child(1) {
    order: 1;
  }
  .section-quality-item:nth-child(3) {
    order: 3;
  }
  .section-quality-item:nth-child(2) {
    order: 2;
  }
}
@media screen and (max-width: 340px) {
  .section-quality-heading {
    font-size: 2.5rem;
  }
  .section-quality-desc {
    line-height: 1.25;
  }
  .section-quality-item {
    padding: 20px;
  }
  .section-quality-item--bigger {
    width: 264px;
    height: 307px;
  }
}
.section-product-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-product-header {
  margin-bottom: 164px;
}
.section-product-heading {
  text-align: center;
  font-size: 32px;
  font-weight: 800;
  line-height: 1.3125;
}
.section-product-list {
  max-width: 975px;
  margin: 0 auto;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 210px 83px;
}
.section-product-item {
  max-width: 270px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.section-product-item::before {
  content: "";
  width: 270px;
  height: 270px;
  position: absolute;
  background-color: #ffba94;
  top: 0;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -40%);
}
.section-product-item:nth-child(2)::before, .section-product-item:nth-child(5)::before {
  background-color: #c5ffa8;
}
.section-product-img {
  width: 240px;
  margin-bottom: 18px;
  position: relative;
}
.section-product-name {
  margin-bottom: 30px;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: normal;
  position: relative;
}
.section-product-name::after {
  content: "";
  width: 40px;
  height: 1px;
  background-color: #a3a3a3;
  position: absolute;
  left: 50%;
  bottom: -13px;
  transform: translateX(-50%);
}
.section-product-desc {
  font-size: 17px;
  color: #656565;
  line-height: 1.2941176471;
  margin-bottom: 6px;
}
.section-product-price {
  font-size: 17px;
  line-height: 1.2941176471;
  margin-bottom: 31px;
}
.section-product-price span {
  color: #000;
  font-size: 23px;
  line-height: 1.1739130435;
  font-weight: 600;
}
.section-product-btn {
  font-size: 17px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  padding: 13px 12px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #46b20f;
  border-radius: 7px;
}

@media screen and (max-width: 1000px) {
  .section-product-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-product-item {
    margin: 0 auto;
  }
}
@media screen and (max-width: 800px) {
  .section-product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 160px 40px;
  }
  .section-product-item {
    max-width: 200px;
  }
  .section-product-item::before {
    width: 200px;
    height: 200px;
  }
  .section-product-img {
    width: 100%;
    margin-bottom: 18px;
    position: relative;
  }
  .section-product-header {
    margin-bottom: 164px;
  }
  .section-product-name {
    font-size: 1.8rem;
  }
  .section-product-desc {
    font-size: 1.4rem;
  }
  .section-product-price {
    font-size: 1.4rem;
  }
  .section-product-price span {
    font-size: 1.6rem;
  }
  .section-product-btn {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 580px) {
  .section-product-heading {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 550px) {
  .section-product-header {
    margin-bottom: 100px;
  }
  .section-product-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 20px;
  }
  .section-product-item {
    max-width: 150px;
  }
  .section-product-item::before {
    width: 140px;
    height: 140px;
  }
  .section-product-img {
    width: 100%;
    margin-bottom: 18px;
    position: relative;
  }
  .section-product-name {
    font-size: 1.4rem;
  }
  .section-product-desc {
    font-size: 1.2rem;
  }
  .section-product-price {
    font-size: 1.2rem;
  }
  .section-product-price span {
    font-size: 1.4rem;
  }
  .section-product-btn {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .section-product-name {
    font-size: 1.3rem;
  }
  .section-product-desc {
    font-size: 1.2rem;
  }
  .section-product-price {
    font-size: 1.2rem;
  }
  .section-product-price span {
    font-size: 1.4rem;
  }
  .section-product-btn {
    font-size: 1.2rem;
  }
}
.section-product {
  margin-bottom: 130px;
}

.section-news-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-news-header {
  max-width: 658px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 28px;
}
.section-news-heading {
  font-size: 3.2rem;
  font-weight: 800;
  line-height: 1.3125;
  margin-bottom: 23px;
}
.section-news-desc {
  line-height: 1.3125;
}
.section-news-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 23px;
  margin-bottom: 80px;
}
.section-news-item {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.section-news-item .news-item-author-time {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section-news-item .news-item-author {
  font-size: 1.5rem;
  font-weight: 500;
  color: #46b20f;
}
.section-news-item .news-item-time {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #a3a3a3;
}
.section-news-item .news-item-heading {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.35;
}
.section-news-item .news-item-content {
  line-height: 1.3125;
}
.section-news-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3px;
  padding: 12px 22px;
  font-size: 1.7rem;
  border-radius: 7px;
  border: 1px solid #46b20f;
  background-color: #fff;
  margin: 0 auto;
}

@media screen and (max-width: 1000px) {
  .section-news-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 550px) {
  .section-news-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}
.section-news {
  margin-bottom: 100px;
}

.section-info {
  position: relative;
}
.section-info-container {
  max-width: 1230px;
  margin: auto;
  padding: 0 15px;
}
.section-info-header {
  max-width: 745px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
}
.section-info-heading {
  margin-bottom: 24px;
  font-size: 3.2rem;
  line-height: 1.3125;
}
.section-info-list {
  max-width: 1087px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  counter-reset: info-item;
}
.section-info-item {
  counter-increment: info-item;
  background-color: #fff;
  border-radius: 9px;
}
.section-info .info-item-img {
  border-radius: 9px;
  width: 100%;
}
.section-info .info-item-content {
  padding: 24px;
}
.section-info .info-item-heading {
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0px 3.3333332539px 3.3333332539px rgba(0, 0, 0, 0.25);
  line-height: 1.35;
  color: #e05000;
  margin-bottom: 7px;
}
.section-info .info-item-heading::before {
  content: "0" counter(info-item) ". ";
}
.section-info .info-item-desc {
  line-height: 1.3125;
}
.section-info-layout {
  position: absolute;
  bottom: 0;
  transform: translateY(116px);
  width: 100%;
  height: 360px;
  background-color: #fff0e7;
  z-index: -1;
}

@media screen and (max-width: 1000px) {
  .section-info-list {
    grid-template-columns: repeat(2, 1fr);
  }
  .section-info-layout {
    height: 80%;
    bottom: 0;
  }
}
@media screen and (max-width: 550px) {
  .section-info-list {
    grid-template-columns: 1fr;
  }
}
.section-info {
  margin-bottom: 250px;
}

.section-certificate-container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.section-certificate-list {
  max-width: 948px;
  margin: 0 auto;
  display: grid;
  gap: 38px 52px;
  grid-template-columns: repeat(3, 1fr);
}
.section-certificate-item {
  display: flex;
  gap: 16px;
}
.section-certificate-item .certificate-item-icon {
  width: 77px;
  height: 56px;
}

@media screen and (max-width: 900px) {
  .section-certificate-list {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 500px) {
  .section-certificate-item {
    flex-direction: column;
  }
}
.section-certificate {
  margin-bottom: 133px;
}

.section-contact-container {
  max-width: 1230px;
  padding: 0px 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 0 118px;
}
.section-contact-form {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  width: 100%;
  max-width: 597px;
}
.section-contact .contact-form-field {
  border: 1px solid #a3a3a3;
  padding: 13px;
  border-radius: 7px;
  width: 100%;
}
.section-contact .contact-form-fields {
  display: flex;
  column-gap: 18px;
  width: 100%;
}
.section-contact .contact-form-btn {
  width: 128px;
  height: 46px;
  margin-left: auto;
  padding: 14px;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 7px;
  background-color: #46b20f;
  color: #fff;
}

@media screen and (max-width: 1000px) {
  .section-contact-container {
    flex-direction: column;
    gap: 50px 0px;
  }
}
@media screen and (max-width: 500px) {
  .section-contact .contact-form-heading {
    font-size: 2rem;
  }
  .section-contact .contact-form-heading br {
    display: none;
  }
  .section-contact .contact-form-fields {
    flex-direction: column;
    row-gap: 23px;
  }
}
.section-contact {
  margin-bottom: 100px;
}

@media screen and (max-width: 500px) {
  .section-info {
    margin-bottom: 150px;
  }
}

/*# sourceMappingURL=home.css.map */
