.header {
  &-top {
    max-width: 1230px;
    padding: 0 15px;
    margin: 19px auto 0px;
    display: flex;
    justify-content: space-between;
  }
  &-controller {
    display: flex;
    align-items: center;
    column-gap: 50px;
  }
  &-menu {
    display: flex;
    column-gap: 50px;
    &-link {
      font-weight: 600;
    }
  }
  &-icons {
    display: flex;
    column-gap: 50px;
  }

  &-cart {
    position: relative;
    &::after {
      content: "3";
      position: absolute;
    }
  }
}
