.header {
  &-top {
    max-width: 1230px;
    padding: 0 15px;
    margin: 19px auto 0px;
    display: flex;
    justify-content: space-between;
  }
  &-controller {
    display: flex;
  }
  &-menu {
    display: flex;
  }
  &-icon {
    display: flex;
  }
}
