.section-quality {
  &-container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  &-header {
    text-align: center;
    margin-bottom: 100px;
  }
  &-heading {
    margin-bottom: 24px;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: calc(42 / 32);
  }
  &-desc {
    line-height: calc(20 / 16);
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
  }
  &-item {
    min-width: 294px;
    min-height: 337px;
    flex-shrink: 0;
    padding: 33px 0px 0px 33px;
    background-color: $white;
    box-shadow: -5.8333330154418945px 8.333333015441895px 72.5px 0px
      rgba(54, 54, 54, 0.12);
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    .item-icon {
      width: 83px;
      height: 83px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $orange-100;
      border-radius: 10px;
      img {
        width: 45px;
        height: 45px;
      }
    }
    &:nth-child(2) .item-icon {
      background-color: $green-100;
    }
    .item-heading {
      font-weight: 4.3rem;
      font-weight: 800;
      line-height: normal;
    }
  }
}
