.section-product{
    &-container{
        max-width: 1230px;
        margin: 0 auto;
        padding: 0 15px;
    }
    &-heading
    &-list{
        max-width: 975px;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(3, 1fr);
    }
    &-item{
        max-width: 270px;
    }
}