.section-hero {
  position: relative;
  display: flex;
  &-container {
    max-width: 1230px;
    margin: 0 auto;
    min-height: 708px;
    display: flex;
    align-items: center;
  }
  &-heading {
    font-size: 37px;
    line-height: calc(48 / 37);
    margin-bottom: 15px;
    font-weight: 800;
  }
  &-sub-heading {
    font-size: 43px;
    line-height: 1;
    margin-bottom: 27px;
    font-weight: 800;
  }
  &-desc {
    line-height: calc(21 / 16);
  }
  &-layout {
    width: 48vw;
    height: 100%;
    background-color: $green-200;
    border-radius: 17px 0 0 17px;
  }
}
