.section-quality {
  &-container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  &-header {
    text-align: center;
  }
  &-heading {
    margin-bottom: 24px;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: calc(42 / 32);
  }
  &-desc {
    line-height: calc(20 / 16);
  }
}
