.section-quality {
  margin-bottom: 215px;
  &-container {
    max-width: 1230px;
    padding: 0px 15px;
    margin: 0 auto;
  }
  &-header {
    text-align: center;
    margin-bottom: 100px;
  }
  &-heading {
    margin-bottom: 24px;
    font-size: 3.2rem;
    font-weight: 800;
    line-height: calc(42 / 32);
  }
  &-desc {
    line-height: calc(20 / 16);
  }
  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
    position: relative;
    &::before {
      content: "";
      width: 235px;
      height: 235px;
      border-radius: 50%;
      position: absolute;
      background-color: $orange-100;
      top: 0;
      left: 0;
      transform: translate(-50%, -50%);
    }
  }
  &-item {
    min-width: 294px;
    min-height: 337px;
    flex-shrink: 0;
    padding: 33px 0px 0px 33px;
    background-color: $white;
    box-shadow: -5.8333330154418945px 8.333333015441895px 72.5px 0px
      rgba(54, 54, 54, 0.12);
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    position: relative;
    z-index: 1;
    .item-icon {
      width: 83px;
      height: 83px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $orange-100;
      border-radius: 10px;
      img {
        width: 45px;
        height: 45px;
      }
    }
    &:nth-child(2) .item-icon {
      background-color: $green-100;
    }
    .item-heading {
      font-size: 4.3rem;
      font-weight: 800;
      line-height: normal;
    }
    .item-desc {
      font-size: 2rem;
      line-height: calc(31 / 20);
    }
  }
  &-item--bigger {
    width: 343px;
    height: 393px;
    padding: 61px 0px 0px 33px;
  }
}
